<form ng-submit="vm.addGroup()" class="form-inline party-form">
    <div class="form-group">
        <input ng-model="vm.newGroup.name" type="text" class="form-control" placeholder="Name" required>
    </div>
    <div class="form-group">
        <input ng-model="vm.newGroup.weekday" type="text" class="form-control" placeholder="Weekday" required>
    </div>
    <div class="form-group">
        <input ng-model="vm.newGroup.time" type="text" class="form-control" placeholder="Time" required>
    </div>
    <button type="submit" class="btn btn-primary">Add group</button>
</form>